head {
    background-color: rgb(221, 105, 28);
}

div {
    unicode-bidi: isolate;
}

a {
    text-decoration: none;
    color: #0b4f8f;
}
a:hover{
    color: aqua;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

.id2 {
    margin: 10%;
    text-align: center;
}

#navbar {

    padding: 8px;
    background-color: rgb(0, 0, 0);
}

#banner {

    background-color: #000000;
    width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    box-shadow: 0px 1px 10px 0px #941eb8;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

#description {
    width: 50%;
    padding-right: 100px;
}

#member {
    width: 50%;
}

p,a,.music,em {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

#memberp {
    width: 100%;
    border-radius: 40px;
    
    box-shadow: 0px 0em 10px 0px #000000;
}

h1,h3 {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
}
h2{
    text-align: center;
}



#albums {
    text-align: center;
}

.number-list {
    color: #000000;
    list-style-type: none;

}

#photoalbum {
    
    box-shadow: 0px 0em 10px 0px #000000;
    border-radius: 40px;
}

#foteer {
    background-color: rgb(0, 0, 0);
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    list-style: none;
}

#footer-links li {
    text-decoration: none;
    display: inline;
    margin: 0 50px;
}

.copyright {
    color: gray;
}
table{
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header{
    padding: 5px;
    font-size: 17px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}
th{
    font-size: 16px;
}
tbody tr:nth-child(even){
    background-color: #f9f9f9;
}
tbody tr:hover{
    background-color: #f1f1f1;
}
td img {
    vertical-align: middle;
    border-radius: 5px;
    width: 50;
    height: 50;
    margin-right: 15px;
}
td span{
    margin-left: 100px;
    vertical-align: middle;
}

#aplication {
    margin: auto;
    width: 100%;
    max-width: 700px;
    margin-top: 100px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin: 16px;
}

#aplication-form label {
    font-weight: 600;
    margin-top: 8px;
}

#aplication-form input, select, textarea {
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-group textarea {
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

.form-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.form-group input[type="submit"] {
    background-color: #3B82F6;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.apply{
    float: right;
}
